# flyctl launch added from backend\.gitignore
# Node.js 관련
backend\**\node_modules
backend\**\logs
backend\**\*.log
backend\**\npm-debug.log*
backend\**\yarn-debug.log*
backend\**\yarn-error.log*

# Python 관련
backend\**\__pycache__
backend\**\*.py[cod]
backend\**\*.py,cover
backend\**\*.coverage
backend\**\.coverage.*
backend\**\.cache
backend\**\*.egg-info
backend\**\dist
backend\**\build
backend\**\env
backend\**\venv

# macOS 관련
backend\**\.DS_Store
backend\**\.AppleDouble

# 환경 변수 파일
backend\**\.env
backend\**\.env.*
backend\**\.env.local
backend\**\.env.production.local
backend\**\.env.development.local

# Fly.io 관련
backend\**\.flyignore
backend\**\.fly

# flyctl launch added from frontend\.gitignore
# Created by https://www.toptal.com/developers/gitignore/api/macos,linux,visualstudiocode,node
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,linux,visualstudiocode,node

### Linux ###
frontend\**\*~

# temporary files which can be created if a process still has a handle open of a deleted file
frontend\**\.fuse_hidden*

# KDE directory preferences
frontend\**\.directory

# Linux trash folder which might appear on any partition or disk
frontend\**\.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
frontend\**\.nfs*

### macOS ###
# General
frontend\**\.DS_Store
frontend\**\.AppleDouble
frontend\**\.LSOverride

# Icon must end with two \r
frontend\**\Icon

# Thumbnails
frontend\**\._*

# Files that might appear in the root of a volume
frontend\**\.DocumentRevisions-V100
frontend\**\.fseventsd
frontend\**\.Spotlight-V100
frontend\**\.TemporaryItems
frontend\**\.Trashes
frontend\**\.VolumeIcon.icns
frontend\**\.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
frontend\**\.AppleDB
frontend\**\.AppleDesktop
frontend\**\Network Trash Folder
frontend\**\Temporary Items
frontend\**\.apdisk

### macOS Patch ###
# iCloud generated files
frontend\**\*.icloud

### Node ###
# Logs
frontend\**\logs
frontend\**\*.log
frontend\**\npm-debug.log*
frontend\**\yarn-debug.log*
frontend\**\yarn-error.log*
frontend\**\lerna-debug.log*
frontend\**\.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
frontend\**\report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
frontend\**\pids
frontend\**\*.pid
frontend\**\*.seed
frontend\**\*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
frontend\**\lib-cov

# Coverage directory used by tools like istanbul
frontend\**\coverage
frontend\**\*.lcov

# nyc test coverage
frontend\**\.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
frontend\**\.grunt

# Bower dependency directory (https://bower.io/)
frontend\**\bower_components

# node-waf configuration
frontend\**\.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
frontend\**\build\Release

# Dependency directories
frontend\**\node_modules
frontend\**\jspm_packages

# Snowpack dependency directory (https://snowpack.dev/)
frontend\**\web_modules

# TypeScript cache
frontend\**\*.tsbuildinfo

# Optional npm cache directory
frontend\**\.npm

# Optional eslint cache
frontend\**\.eslintcache

# Optional stylelint cache
frontend\**\.stylelintcache

# Microbundle cache
frontend\**\.rpt2_cache
frontend\**\.rts2_cache_cjs
frontend\**\.rts2_cache_es
frontend\**\.rts2_cache_umd

# Optional REPL history
frontend\**\.node_repl_history

# Output of 'npm pack'
frontend\**\*.tgz

# Yarn Integrity file
frontend\**\.yarn-integrity

# dotenv environment variable files
frontend\**\.env
frontend\**\.env.development.local
frontend\**\.env.test.local
frontend\**\.env.production.local
frontend\**\.env.local

# parcel-bundler cache (https://parceljs.org/)
frontend\**\.cache
frontend\**\.parcel-cache

# Next.js build output
frontend\**\.next
frontend\**\out

# Nuxt.js build / generate output
frontend\**\.nuxt
frontend\**\dist

# Gatsby files
frontend\**\.cache
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
frontend\**\.vuepress\dist

# vuepress v2.x temp and cache directory
frontend\**\.temp

# Docusaurus cache and generated files
frontend\**\.docusaurus

# Serverless directories
frontend\**\.serverless

# FuseBox cache
frontend\**\.fusebox

# DynamoDB Local files
frontend\**\.dynamodb

# TernJS port file
frontend\**\.tern-port

# Stores VSCode versions used for testing VSCode extensions
frontend\**\.vscode-test

# yarn v2
frontend\**\.yarn\cache
frontend\**\.yarn\unplugged
frontend\**\.yarn\build-state.yml
frontend\**\.yarn\install-state.gz
frontend\**\.pnp.*

### Node Patch ###
# Serverless Webpack directories
frontend\**\.webpack

# Optional stylelint cache

# SvelteKit build / generate output
frontend\**\.svelte-kit

### VisualStudioCode ###
frontend\**\.vscode\*
!frontend\**\.vscode\settings.json
!frontend\**\.vscode\tasks.json
!frontend\**\.vscode\launch.json
!frontend\**\.vscode\extensions.json
!frontend\**\.vscode\*.code-snippets

# Local History for Visual Studio Code
frontend\**\.history

# Built Visual Studio Code Extensions
frontend\**\*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
frontend\**\.history
frontend\**\.ionide

# End of https://www.toptal.com/developers/gitignore/api/macos,linux,visualstudiocode,node
fly.toml
