# Node.js 관련
node_modules/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python 관련
__pycache__/
*.py[cod]
*.py,cover
*.coverage
.coverage.*
.cache
*.egg-info/
dist/
build/
env/
venv/

# macOS 관련
.DS_Store
.AppleDouble

# 환경 변수 파일
.env
.env.*
.env.local
.env.production.local
.env.development.local

# Fly.io 관련
.flyignore
.fly/
